{% extends 'front.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% block body %}


<div class="account-page login text-center">
            <div class="container">
                <div class="account-title">
                    <h4 class="heading-light">Bienvenue cher ITICien(ne)</h4>
                </div>
                <div class="account-content">
                    <form action="{{ path('security_login') }}" method="post">
                        <div class="input-box email">
                            <input type="text" required name="_username" placeholder="Email">
                        </div>
                        <div class="input-box password">
                            <input type="text" required name="_password" placeholder="Mot de passe">
                        </div>
                        <div class="buttons-set">
                            <button type="submit" class="bnt bnt-theme text-regular text-uppercase">Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
