{% extends 'front.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% block body %}


<div class="account-page login text-center">
            <div class="container">
                <div class="entry-header text-center">
                    <h4 class="heading-light">Bienvenue cher ITICien(ne)</h4>
                </div>
                <div class="account-content">
                    <form action="{{ path('security_login') }}" method="post">
                        <div class="input-box email">
                            <input type="text" required name="_username" placeholder="Email">
                        </div>
                        <div class="input-box password">
                            <input type="text" required name="_password" placeholder="Mot de passe">
                        </div>
						<div >
                            <input type="checkbox" required name="_terms" > J'accepte <a href="{{ path('rgpd') }}"> les conditions générales d'utilisation et de protection des données personelles</a> </input>
                        </div>
                        <div class="buttons-set">
                            <button type="submit" class="btn btn-info text-regular text-uppercase">Se connecter</button>
							<a class="btn btn-theme text-regular text-uppercase" href="{{ path('registration_registration') }}" >S'inscrire</a>
							
                        </div>
						 <div class="buttons-set">
                            <a href="{{ path('security_reset') }}">Mot de passe oublié?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
		
		
		
		
{% endblock %}

