{% extends 'front.html.twig' %}
{# {% extends 'base.html.twig' %} #}


{% block body %}
<div class="container">
            <div class="access-denied text-center">
                <img src="images/clock-access.png" alt="">
                <h2 class="heading-light">Inscription effectuée avec succèes</h2>
                <div class="box-text">
                    <h4 class="heading-light">Connectez vous à votre espace pour compléter votre profil</h4>
					<a href="{{ path('security_login')}}" class="btn btn-success">Connexion</a>	 
                </div>
            </div>
        </div>
{% endblock %}
