{% extends 'front.html.twig' %}
{# {% extends 'base.html.twig' %} #}


{% block body %}
<div class="container">
            <div class="access-denied text-center">
                <img src="images/clock-access.png" alt="">
                <h2 class="heading-light">Inscription effectuée avec succèes</h2>
                <div class="box-text">
                    <h4 class="heading-light">validez votre compte via le lien envoyé à votre adresse mail</h4>
                    <p class="text-light">Merci !</p>
                </div>
            </div>
        </div>
{% endblock %}
