{% extends 'front.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
   <link rel="icon" href="favicon.ico" type="image/ico" />
 <link rel="icon" href="favicon.ico" type="image/ico" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/icon-font.min.css" />
    <link rel="stylesheet" type="text/css" href="css/meanmenu.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
	<link rel="stylesheet" type="text/css" href="css/um-account.css" />
	<link rel="stylesheet" type="text/css" href="css/um-fileupload.css" />	
	<link rel="stylesheet" type="text/css" href="css/um-styles.css" />
    <link rel="stylesheet" type="text/css" href="css/um-profile.css" />
	<link rel="stylesheet" type="text/css" href="css/um-fonticons-fa.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
	
	
	
	
    <title>.:: Commun'itic ::.</title>

</head>
<body>
 <div class="account-page">
         <div class="page-content-body">
            <div class="um um-profile um-viewing um-2012 um-role-subscriber" style="opacity: 1;">
               <div class="um-form" data-mode="profile">
                  <div class="um-header no-cover">
                     <div class="um-profile-photo" data-user_id="12">
                        <a href="http://sayidan.kenzap.com/member-profile/alinaradionova/" class="um-profile-photo-img" title="Alina Radionova">
                        <span class="um-profile-photo-overlay">
                        <span class="um-profile-photo-overlay-s">
                        <ins>
                        <i class="um-faicon-camera"></i>
                        </ins>
                        </span>
                        </span><img src="http://sayidan.kenzap.com/wp-content/uploads/ultimatemember/12/profile_photo-190.jpg?1587143782" class="gravatar avatar avatar-190 um-avatar um-avatar-uploaded" width="190" height="190" alt="Alina Radionova" data-default="http://sayidan.kenzap.com/wp-content/plugins/ultimate-member/assets/img/default_avatar.jpg" onerror="if ( ! this.getAttribute('data-load-error') ){ this.setAttribute('data-load-error', '1');this.setAttribute('src', this.getAttribute('data-default'));}">			</a>
                     </div>
                     <div class="um-profile-meta">
                        <div class="um-main-meta">
                           <div class="um-name">
                              <a href="http://sayidan.kenzap.com/member-profile/alinaradionova/" title="Alina Radionova">Alina Radionova</a>
                           </div>
                              </div>
                        <div class="um-meta-text">
                           Ancien Etudiant				
                        </div>
                        <div class="um-profile-status approved">
                           <span>Filière : Informatique</span>
                        </div>
                     </div>
					                      <div class="um-clear"></div>

                  </div>
                  <div class="um-profile-navbar ">
                  </div>
                  <div class="um-profile-body main main-default">
				  <div class="md-6">
				  								 
<div class="account-content">
                    <form action="/login" method="post">

                     <div class="um-row _um_row_1 " style="padding: 0px 0px 0px 0px;margin: 0px 0px 30px 0px;border-width: 0px 0px 0px 0px;border-style: solid;border-radius: 0px;">
                        <div class="um-col-1">

 <div class="um-field-area">
                                 <div class="um-field-label">
                                 <label for="_cv-2012">Resume</label>
                              </div>
								  <div class="input-box email">
                            <input type="text" required="" name="_username" placeholder="Email">
                        </div>
                              </div>
 <div class="um-field-area">
                                 <div class="um-field-label">
                                 <label for="_cv-2012">Resume</label>
                              </div>
								  <div class="input-box email">
                            <input type="text" required="" name="_username" placeholder="Email">
                        </div>
                              </div>
							  <div id="um_field_2012__cv" class="um-field um-field-file  um-field-_cv um-field-file um-field-type_file" data-key="_cv">
                              <div class="um-field-label">
                                 <label for="_cv-2012">Resume</label>
                              </div>
                              <div class="um-field-area">
                                 <div class="um-field-value">
                                    <div class="um-single-file-preview show">
                                       <div class="um-single-fileinfo">
                                          <a href="http://sayidan.kenzap.com/um-download/2012/_cv/12/fa00d1d638?t=1587143782" target="_blank">
                                          <span class="icon" style="background:#D24D4D"><i class="um-faicon-file-pdf-o"></i></span>
                                          <span class="filename">resume.pdf</span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- .entry-content -->

</body>
</html>
{% endblock %}