{% extends 'front.html.twig' %}
{# {% extends 'base.html.twig' %} #}
{% block body %}
<!--Begin content wrapper-->
<div class="content-wrapper">
<!--begin job detail-->
<div class="job-detail">
<div class="container">
   <div class="brand">
      <div class="brand-content">
         <h2 class="heading-regular">Données Personnelles & RGPD</h2>
         <p class="website text-light">Sur ce site internet nous sommes amenés à traiter des données vous concernant (par exemple votre adresse, vos cotisations ou les emails que vous avez ouverts). Ces données peuvent être destinées aux membres de l'association (pour l'annuaire), au personnel de l'association ou aux partenaires de l'association, dans le cadre de nos activités.</p>
         <p>
            Vous pourrez lire ci-dessous le détail des données que nous sommes appelés à traiter à votre sujet et les moyens qui sont à votre disposition pour exercer vos droits dans le cadre du Règlement Européen pour la Protection des Données (RGPD).
         </p>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
   <div class="about-company clearfix">
      <div class="job-detail-title">
         <h5 class="heading-regular text-capitalize">Quelles données et quelle utilisation ?</h5>
      </div>
      <div class="about-company-content">
         <div class="desc">
            <p>
               Dans le cadre des différents formulaires présents dans votre espace privé nous pouvons être amenés à recueillir les informations que vous nous communiquez sur votre état civil, vos coordonnées (personnelles et professionnelles), votre parcours académique, les groupes que vous avez rejoint, ainsi que les autres informations qui peuvent vous être demandées.
            </p>
            <p>
               Lors du paiement d'une cotisation ou de l'inscription à un événement, d'autres informations sont collectées afin de pouvoir assurer la bonne prise en compte de votre cotisation ou inscription.
            </p>
            <p>
               Nous sommes également amenés, afin de vous offrir un service de qualité, à conserver des informations sur les emails que vous avez reçus, lus ou cliqués, sur les dates auxquelles vous vous êtes connectés au site internet. De même nous pouvons collecter, de manière non-nominative des informations techniques (résolution d'écran, navigation PC / mobile, navigateur, ...) en vue de générer des statistiques globales pour faire évoluer le site internet.
            </p>
            <p>
               Vous pouvez contrôler quelles sont les données affichées dans l'annuaire, en ligne et papier, depuis votre espace privé dans la partie "Confidentialités".
            </p>
            <p>
               L'ensemble des autres données sont destinées aux administrateurs du site internet (membres du bureau et personnel de l'association) ou à nos partenaires dans les conditions suivantes :
            </p>
         </div>
      </div>
   </div>
</div>
<!--End content wrapper-->
{% endblock %}